<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class="   container-fluid  " >







               

                <% if (mode == true){ %>


        <div class="card  my-5 mx-auto shadow" style="width: 28em;">

                <h2 class="my-3 text-center text-info fonte">LOGIN</h2>

                        <div class="my-3 mx-auto row" style="width: 26em;">
                                <label for="staticEmail" class=" col-form-label">Email</label>
                                <div class="">
                                  <input type="text" class="form-control border-top-0 border-start-0 border-end-0 " id="staticEmail" value="">
                                </div>
                              </div>


                              <div class="my-3 mx-auto row" style="width: 26em;">
                                <label for="inputPassword" class=" col-form-label">Password</label>
                                <div class="">
                                  <input type="password" class="form-control border-top-0 border-start-0 border-end-0" id="inputPassword">
                                </div>
                              </div>


                              <div class="my-3 mx-auto d-block row" >
                                
                                <div class="">
                                  <a href="#" class="px-5 btn btn-info" onclick="">enviar</a>
                                </div>
                              </div>
                 

        </div>


                 

<% } else { %>




                  <div class="mb-5 card">
                        <div class=" bck card-body card border-secondary shadow-lg">
                        
                                
                        <h3 class="fonte text-white">Usando o metodo Foreach</h3>

                                <div class="my-5  container">
                                        <div class="  row row-cols-2">
                
                <% lista.forEach(function(usuario){ %>

                        
                       
                        <div class="bck border-info text-white card col">nome<h3><%=usuario.nome%></h3>   </div>    
                        <div class="bck border-info text-white card col">email<h3><%=usuario.email%></h3>    </div>    

              <%  })  %>
                
                 
                                         
                
                                        </div>
                                      </div>


                        </div>
                      </div>




                  





<% } %>
                 
        </main>

     <%- include("../common/footer")%> 