<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class="   container-fluid  " >







               

               
<div class="row">




               






        <div class="mb-5 my-2 card">





              <div class=" bck card-body card border-secondary shadow-lg">
                



                          <h1 id="textoIntro" class="fonte text-info  animate__animated animate__bounceInRight "><%=ola%></h1>

                          <%- include("../common/menuMonitor") %>
                        
              </div>




              
        </div>




                  






                 
        </main>

     <%- include("../common/footer")%> 