<%- include("../common/header") %>
        <%- include("../common/menu") %>

                <main class="   container-fluid  ">

                        <div class="row">

                                <div class="mb-5 my-2 ">

                                        <div class=" bck card-body card border-secondary shadow-lg">

                                                
                                                <%- include("../common/menuMonitor") %>
                                                
                                                <h3 id="textoIntro"
                                                        class="my-4 fonte text-info  animate__animated animate__bounceInRight ">
                                                        <%=ola%>
                                                </h3>
                                                <p class="text-info">Acompanhe meu processo criativo desenvolvendo jogos</p>
                                        </div>

                                </div>

                </main>

                <%- include("../common/footer")%>